<%- layout('layout') %>
<div class="container">
    <div class="jumbotron">
      <h1 class="display-3"><h1><%= title %></h1>
      <p class="lead"> Welcome to <%= title %></p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
      </p>
    </div>
    <div class="container">
      <div class="row">
      <div class="col-md-4">
        <h1>Topic 1</h1>
        <p>It is the topic related to science fiction.How movies work and all that</p>
      </div>
      <div class="col-md-4">
          <h1>Topic 2</h1>
          <p>It is the topic related to science fiction.How movies work and all that</p>
        </div>
        <div class="col-md-4">
            <h1>Topic 3</h1>
            <p>It is the topic related to science fiction.How movies work and all that</p>
          </div>
    </div>
    </div>